<head>
  <link rel="stylesheet" href="/styles.css">
</head>

<%- include("header.html") %>    
<div class="container">    
  <div class="filter-bar">
    <form method="GET" action="/" class="filter-form">
      <div class="autocomplete-container">
        <input type="text" id="tagInput" name="tag" placeholder="Search by tag..." autocomplete="off" value="<%= query?.tag || '' %>">
        <div id="suggestions" class="suggestions"></div>
      </div>
      <input
        type="number"
        name="limit"
        placeholder="Limit"
        value="<%= query?.limit || 10 %>"
      />
      <input
        type="number"
        name="skip"
        placeholder="Skip"
        value="<%= query?.skip || 0 %>"
      />
      <select name="sort">
        <option value="updated" <%= query?.sort === 'updated' ? 'selected' : '' %>>Updated</option>
        <option value="name" <%= query?.sort === 'name' ? 'selected' : '' %>>Name</option>
        <option value="price" <%= query?.sort === 'price' ? 'selected' : '' %>>Price</option>
      </select>
      <button type="submit">Apply</button>
    </form>
  </div>  
    <div class="product-grid">
        <% products.forEach(product => { %>
          <div class="product-card">
            <div class="image-wrapper">
              <img src="<%= product.image %>" alt="<%= product.name %>">
            </div>
            <div class="product-info">
              <span class="product-name"><%= product.name %></span>
              <span class="product-price"><%= product.price %> €</span>
            </div>
          </div>
        <% }) %>
    </div>
    
      
      <%- include("footer.html") %>
</div>
<script>
      const predefinedTags = <%- JSON.stringify(predefinedTags) %>;
    </script>
<script src="/js/tagFilterAutocomplete.js"></script>