
<%- include("header.html") %>    
<div class="container">    
    <% // contenido para usuarios logados %>
    <% if (!session.userID) { %>
        <p style="margin-top: 40px;"><a href="/login">Log in</a> to access your products</p>
    <% } %>
    <div class="product-grid">
        <% products.forEach(product => { %>
          <div class="product-card">
            <img src="<%= product.image %>" alt="<%= product.name %>" height="120px">
            <div class="product-info">
              <span class="product-name"><%= product.name %></span>
              <span class="product-price"><%= product.price %> €</span>
            </div>
          </div>
        <% }) %>
    </div>
      
      <%- include("footer.html") %>
</div>
